@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #A53860;
  --color-accent: #0B1D51;
}


html, body, #root {
  height: 100%;
  width: 100%;
}

:root {
  font-family: "Montserrat", sans-serif;
}